<!--
	Responsive Portfolio Grid
-->

  <body>
    
    <section class="flexContainer">
      <div class="flexItem"><img src='https://placehold.it/650x650'></div>
      <div class="flexItem"><img src='https://placehold.it/650x650'></div>
      <div class="flexItem"><img src='https://placehold.it/650x650'></div>
      <div class="flexItem"><img src='https://placehold.it/650x650'></div>
      <div class="flexItem"><img src='https://placehold.it/650x650'></div>
      <div class="flexItem"><img src='https://placehold.it/650x650'></div>
      <div class="flexItem"><img src='https://placehold.it/650x650'></div>
      <div class="flexItem"><img src='https://placehold.it/650x650'></div>
      <div class="flexItem"><img src='https://placehold.it/650x650'></div>
    </section>
        
  </body>